.headline {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.handwritten {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }
  